services:
  alloy:
    container_name: alloy
    image: grafana/alloy:latest
    restart: unless-stopped
    volumes:
      - /opt/alloy/config.alloy:/etc/alloy/config.alloy
      - /opt/alloy/data:/alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/log:/var/log:ro
    depends_on:
      - loki
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - /etc/alloy/config.alloy
    ports:
      - '12345:12345'